<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently an Engineer at
      <a class="underline-link" href="https://www.upstatement.com/" target="_blank">Upstatement</a> building things for the web with some awesome people. I recently graduated from
      <a class="underline-link" href="http://www.ccis.northeastern.edu/" target="_blank">Northeastern University</a> after completing three awesome six-month co-ops at
      <a class="underline-link" href="https://us.mullenlowe.com/" target="_blank">MullenLowe U.S.</a>,
      <a class="underline-link" href="https://starry.com/" target="_blank">Starry</a>, and
      <a class="underline-link" href="https://www.apple.com/music/" target="_blank">Apple Music</a>.
    </p>

    <p>
      Welcome to my corner of the web. 

      Data is everywhere, whether we like it or not––and I'm interested in using data to design better lives, systems and products for us old humans.

      How do people move in a city? How do we amplify voices equitable in organizations? What does ed tech mean for the future of learning? How do we use customer interactions to design products that people love?
      These are some of the questions I have sought to answer--one dataset at a time.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably on a hammock in East London, scrolling on a smaller screen.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
